body {
    background-color: black;
}

main {
    margin: auto;
}

.calculate-front {
    background: #625F5F;
    width: 450px;
    height: 100%;
    margin: 30px auto;
    padding: 0 0 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    padding: 20px 15px;
    height: 50%;
    width: 450px;
    font-size: 70px;
    overflow: hidden;
}

.result span {

}

#parent-buttons {
    display: grid;
    grid-template-areas:
            'ac plus-minus percent division'
            'seven eight nine multiply'
            'four five six minus'
            'one two three plus'
            'zero zero dot equal';
    grid-gap: 5px;
    justify-items: center;
}

.background-btn {
    display: grid;
    width: 100px;
    padding: 24px 10px;
    background: #B0A18F;
    border-radius: 16px;
}

.background-btn-zero {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 24px;
    background: #B0A18F;
}

.background-btn-zero.zero {
    grid-area: zero;
    width: 205px;
    border-radius: 16px;
}

.background-btn.red {
    background: #BC5224;
}

.btn.bg-red {
    background: #BC5224;
    color: white;
}

.btn {
    font-size: 26px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: #B0A18F;
    border-radius: 50%;
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.3),
    6px 6px 12px rgba(0, 0, 0, 0.3),
    inset 2px 2px 4px rgba(0, 0, 0, 0.5),
    inset -2px -2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    width: 180px;
    border-radius: 40px;
}

.btn:hover {
    filter: brightness(110%);
}

.btn:active {
    filter: brightness(90%);
}